<!DOCTYPE html>
<html lang="en">
<% include ../public/head %>
<body>


<div class = "container">
<div class="jumbotron">

  <div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">

 <h1 class="section">ToDo List:</h1>

<ul class="items">
        <% for(var i=0; i<items.length; i++) {%>
          <li class="item">
            <span><%= items[i].item %></span>
          </li>
        <% } %>
</ul>
</div>

<div class="col-sm-4">
  <h1 class="section">Actions:</h1>
    <form action="/items" method="POST">
    <input type="text" name="item" placeholder="Write Something!" class="input">
    <button type="submit" class="btn"> Submit an item </button>
    </form>

  <button type="button" class="btn btn-primary" id ="delete">
  Delete the first item</button>
<br>
  <button type="button" class="btn" id="clear">
    Delete ALL items
  </button>
  <br>
  
  <button type="button" class="btn btn-primary" id = "update">
    Click for something to do
  </button>

  <script src="main.js"></script>

  </div>
  <div class="col-sm-2"></div>
  </div>
  </div>
  
</div>
</body>
<% include ../public/footer %>
</html>