<!DOCTYPE html>
<html lang="en">
<% include ../public/head %>
<body>
<div class="jumbotron">
    <h1>ToDo Items</h1>


    <form action="/items" method="POST">

      <input type="text" name="item" placeholder="todo item">
      <button type="submit"> Submit! </button>

    </form>
    <ul class="items">
        <% for(var i=0; i<items.length; i++) {%>
          <li class="item">
            <span><%= items[i].item %></span>
          </li>
        <% } %>
        </ul>
 

  
    <button id ="delete" >Delete The First Todo</button>

    <script src="main.js"></script>
  
</div>
  </body>
</html>