body{
  margin-top: 5%;
}

  input{
    font-size: 18px;
    background-color: whitesmoke;
    width: 20%;
    height: 10px;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

  input:focus{
    background: #fff;
    border: 3px whitesmoke;
}

ul{
  list-style: none;
  margin: 0;
  padding: 10px;
}
.jumbotron{
  margin: 0;
  padding: 0;
  text-align: center;
  
}


